/*  skin/toolbar-button.css*/ 

#euskalbar-toolbar {
  overflow: visible;
} 

toolbarbutton[type="menu-button"] > toolbarbutton {
  -moz-box-orient: horizontal ;
} 

#euskalbar-menu[hidden="true"] {
  display: none !important;
}

textbox#euskalbar-search-string {
    min-width: 50px;
    max-width: 300px;
}

#euskalbar-search-splitter {
    min-width: 6px;
    -moz-margin-start: -3px;
    border: none;
    -moz-appearance: none;
}

/* Firefox menu */

#euskalbar-appmenu-spacer {
  min-height: 1em;
}

/* Euskalbar button */

#euskalbar-button {
  list-style-image: url('chrome://euskalbar/skin/euskalbar16.png');
}

/* High-resolution displays */
@media (min-resolution: 2dppx) {
    #euskalbar-button {
        list-style-image: url('chrome://euskalbar/skin/euskalbar32.png');
    }

}
