/*  skin/toolbar-button.css  */

toolbar #euskalbar-language {
  list-style-image: url('chrome://euskalbar/skin/eseu.gif');
}

toolbar #euskalbar-button {
  list-style-image: url('chrome://euskalbar/skin/euskalbar16.png'); 
  margin-right: 0px;
}

#Euskalbar-menu [hidden="true"]{ display: none; }
