/*  skin/toolbar-button.css*/ 

#euskalbar-toolbar {
  overflow: visible;
} 

toolbarbutton[type="menu-button"] > toolbarbutton {
  -moz-box-orient: horizontal ;
} 

#Euskalbar-menu[hidden="true"] {
  display: none !important;
}

textbox#EuskalBar-search-string {
    min-width: 50px;
    max-width: 300px;
}

#EuskalBar-search-splitter {
    min-width: 6px;
    -moz-margin-start: -3px;
    border: none;
    -moz-appearance: none;
} 

/* Euskalbar button */

#euskalbar-button {
  list-style-image: url('chrome://euskalbar/skin/euskalbar22.png');
}

toolbar[iconsize="small"] #euskalbar-button {
  list-style-image: url('chrome://euskalbar/skin/euskalbar16.png');
  width: 16px;
  height: 16px;
}
