body
{
    margin: 0px;
    color: rgb(34, 34, 34);
    font-family: bitstream vera sans, verdana, arial;
    font-size: 10pt;
}

h1
{
    border-style: none;
    border-width: 1px;
    font-size: 12pt;
    text-align: center;
    width: 96%;
    margin-left: 2%;
    padding-top: 2px;
    padding-bottom: 2px;
}

p
{
    margin: 0px;
    font-family: bitstream vera sans, verdana, arial;
}

a
{
    color: rgb(194, 37, 47);
}

a:hover
{
    color: rgb(0, 0, 0);
}

table#nagusia
{
    border-style: none;
    border-width: 1px;
    width: 96%;
    margin-left: 2%;
    table-layout: fixed;
}

td
{
    padding: 5px;
}

th
{
    border-style: none;
    border-width: 1px;
    background-color: rgb(194, 37, 47);
    font-size: 11pt;
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.gorputza
{
    border-style: none;
    border-width: 1px;
    font-size: 9pt;
    vertical-align: top;
    background-color: rgb(230, 208, 164);
}

.oharra
{
    margin: 0px;
    font-family: bitstream vera sans, verdana, arial;
    text-align: center;
    font-size: 7pt;
}
